{% extends "base.html" %}
{% block title %}
    <title>
        Current rates
    </title>
{% endblock %}
{% block content %}
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th scope="col">Валюта</th>
                <th scope="col">Начало периода</th>
                <th scope="col">Окончание периода</th>
                <th scope="col">Цена покупки</th>
                <th scope="col">Цена продажи</th>
                <th>
                    <a href="{% url "add_new_rate" %}">+</a>
                </th>
            </tr>
        </thead>
        <tbody>
        {% block tbody %}
            {% for element in rates %}
                <tr>
                    <th>
                        <a href="{% url 'currency_history' element.currency.name %}"> {{ element.currency.name }}</a>
                    </th>
                    <th>
                        {{ element.date }}
                    </th>
                    <th>
                        {{ element.get_date_end }}
                    </th>
                    <th>
                        {{ element.rate_bid }}
                    </th>
                    <th>
                        {{ element.rate_ask }}
                    </th>
                    <th>
                        <a href="{% url "delete_rate" element.id %}">Delete</a>
                    </th>
                </tr>
            {% endfor %}
        {% endblock %}
        </tbody>
    </table>
{% endblock %}