{% extends "current_rates.html" %}
{% block title %}
    <title>
        History rates
    </title>
{% endblock %}
{% block tbody %}
    {% for element in history %}
        <tr>
            <th>
                {{ element.currency.name }}
            </th>
            <th>
                {{ element.date }}
            </th>
            <th>
                {{ element.get_date_end }}
            </th>
            <th>
                {{ element.rate_bid }}
            </th>
            <th>
                {{ element.rate_ask }}
            </th>
            <th>
                <a href="{% url "delete_rate" element.id %}">Delete</a>
            </th>
        </tr>
    {% endfor %}
{% endblock %}